.album {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-template-rows: min-content;
  grid-gap: 15px;
  padding: 30px;
}
.title {
  grid-column: 1/-1;
  font-size: 3.2rem;
}
.description {
  grid-column: 1/-1;
  font-size: 2.6rem;
}
.keywords {
  grid-column: 1/-1;
}
.keyword {
  margin-top: 30px;
  & + & {
    margin-left: 15px;
  }
}
